{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <div class="title">
        <h1>The Wildest Match </h1>
    </div>
    <div class="questionRandom">
        <div class="row">
            <div class="col-sm-6">
                    <div class="card-body" >
                        <h5 class="card-header">Question Aléatoire</h5>
                        <p class="card-text">{{ randQuestion[0].title }}</p>
                        <a href="#" id="btn-start" class="btn btn-blueButton">Start Game</a>
                    </div>
            </div>
            <div class="createQuestion">
                <div class="col-sm-6">
                        <div class="card-body">
                            <h5 class="card-header">Crée ta question</h5>
                            <p class="card-text">
                                {{ form_start(form) }}
                                {{ form_row(form.title, {'label': ' '}) }}
                                {{ form_end(form) }}
                                </p>
                            <a href="#" class="btn btn-blueButton">Start Game</a>
                        </div>
                </div>
            </div>
        </div>
        <button onclick="playSound();" id="soundBtn">Play</button>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/leroy/Hackathon_2/hackathon_2/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/leroy/Hackathon_2/hackathon_2/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
